
<ul class="navigation-menu" data-turbolinks="false">
  <li class="has-submenu active">
    <a href="#home">Home</a>
  </li>

  <li class="">
    <a href="#how-it-works">How it Works</a>
  </li>

  <li class="">
    <a href="#contact">Contact</a>
  </li>

  <li class="mobile-none">
    <a href="https://medium.com/code-sponsor">
      Blog</a>
  </li>

  <li class="mobile-none">
    <a href="https://us16.campaign-archive.com/home/?u=e95ff716114dbc939f8ef6100&id=f036681f65">
      Newsletter</a>
  </li>

  <li class="mobile-none">
    <a href="https://github.com/codesponsor/codesponsor">
      Code</a>
  </li>
</ul>