{% extends "layouts/home.html" %}
{% load static %}

{% block navigation_menu %}
  {% include '_navigation_menu.html' %}
{% endblock navigation_menu %}

{% block above_footer %}
  {% include '_contact_form.html' %}
{% endblock above_footer %}
  
{% block content %}
  <!-- START HOME  -->
  <section class="home-bg-color" id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center text-white">
          <h1 class="mt-5 pt-5 home-title">
            We Help Sustain Open Source
          </h1>
          <p class="home-subtitle mx-auto pt-2">we help fund open source projects through ethical advertising</p>
          <div id="macbook-slideshow">
            <img src="{% static 'home/images/macbook-border.png' %}" alt="" class="macbook img-fluid center-block home-dashboard">
            <img src="{% static 'home/images/macbook-devhints-2.png' %}" alt="" class="slide img-fluid center-block home-dashboard">
            <img src="{% static 'home/images/macbook-jsbin-2.png' %}" alt="" class="slide img-fluid center-block home-dashboard">
            <img src="{% static 'home/images/macbook-codesandbox-2.png' %}" alt="" class="slide img-fluid center-block home-dashboard">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END HOME -->
  
  <!-- START FEATURES -->
  <section class="section" id="how-it-works">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h3 class="section-title pt-5">How it works</h3>
          <p class="section-subtitle text-dark pt-3">
            We are currently re-designing our website. Please follow progress by following our <a href="https://twitter.com">twitter</a> feed.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END FEATURES -->

{% endblock content %}