[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
django-environ = "*"
"psycopg2" = "*"
dj-database-url = "*"
gunicorn = "*"
"boto3" = "*"
django-storages = "*"


[dev-packages]



[requires]

python_version = "3.6.4"
