[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-environ = "*"
"psycopg2" = "*"
dj-database-url = "*"
gunicorn = "*"
"boto3" = "==1.5.0"
django-storages = "==1.6.3"
rollbar = "*"
django-allauth = "*"
whitenoise = "*"


[dev-packages]

ipdb = "*"
isort = "*"
pytest = "*"
pytest-xdist = "*"
mock = "*"
sphinx = "<=1.5.5"
sphinx-click = "*"
twine = "*"


[requires]

python_version = "3.6.4"
