{% extends "layouts/home.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Verify Your E-mail Address" %}
{% endblock %}

{% block content %}
<section class="bg-custom section">
  <div class="login-table">
    <div class="login-table-cell">
      <div class="container">
        <div class="row justify-content-center mt-4">
          <div class="col-lg-8">
            <div class="bg-white p-4 mt-5 rounded">
              <p>
                {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
                Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}